<div class="container-fluid">
  <div class="row">

    <div class="col-sm-4 col-md-3 col-lg-2 sidebar route_summary">
      <ul class="list nav nav-sidebar">
      <li ng-click="route.select(null)"
           ng-class="{'active': route.is_selected(null)}"
           class="route">
        <a>
          {{route.details().title}}<br/>
          <img ng-src="{{ route.details().image }}" alt="" width='80%'>
        </a>
      </li>
      </ul>

      <ul ng-model="route.details().waypoints"
          ui-sortable="sortableOptions"
          class="list nav nav-sidebar"
          class="list nav nav-sidebar"
      >
        <li ng-repeat="waypoint in route.details().waypoints"
            class="waypoint"
            waypoint_id="{{ waypoint.id }}"
            ng-click="route.select(waypoint)"
            ng-class="{'active': route.is_selected(waypoint)}"
            title="Drag to change order">
          <a>
            {{ waypoint.title }} <br/>
            <img ng-src="{{ waypoint.image }}" alt="" width='50%'>
          </a>
        </li>

        <li>
          <input class="btn btn-primary"
                    type="submit"
                    value="Add Waypoint"
                    class="in_place_save_button"
                    ng-click="route.add_waypoint(waypoint)"
          />
        </li>

        <li>
          <input class="btn btn-primary"
                    type="submit"
                    value="Save Route"
                    class="in_place_save_button"
                    ng-disabled="routeForm.$invalid"
                    ng-click="route.save()"
          />
        </li>

      </ul>
    </div>
  </div>
</div>