<h1 class="page-header">{{ route.details().title }} &gt; {{ waypoint.title }}</h1  >
<div class="row">
  <div class="col-xs-12 col-md-6 col-lg-4">

      <div class="form-group title_field">
          <label for="id_waypoint_title" class="control-label col-xs-2">title:</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="id_waypoint_title"
                   name="title"
                   type="text"
                   ng-model="waypoint.title"
                   ng-maxlength="40"
                   required
            />
            <span ng-show="waypointForm.title.$error.required">This is a required field</span>
            <span ng-show="waypointForm.title.$error.maxlength">Maximum length is 40</span>
          </div>
      </div>

      <div class="form-group description_field">
          <label for="id_waypoint_description" class="control-label col-xs-2"> description:</label>
          <div class="col-xs-10">
            <textarea class="form-control"
                      id="id_waypoint_description"
                      name="description"
                      cols="40"
                      rows="8"
                      ng-model="waypoint.description"
                      ng-maxlength="500"
                      required
            ></textarea>
            <span ng-show="waypointForm.description.$error.required">This is a required field</span>
            <span ng-show="waypointForm.description.$error.maxlength">Maximum length is 500</span>
            <div ng-show="waypointForm.description.$valid">
              <a class="btn btn-primary" onclick='responsiveVoice.speak("This where I read out the description");' role="button">Listen &raquo;</a>
            </div>
          </div>
      </div>

      <div class="form-group lat_lng_field">
          <label for="id_waypoint_lat_lng" class="control-label col-xs-2"> Lat/Lng:</label>
          <div class="col-xs-10">
            <div class="form-control">
              {{ waypoint.lat | number:4 }}, {{ waypoint.lng | number:4 }}
            </div>
          </div>
          <span ng-show="waypointForm.lng.$error.required">Click on the map to set the location</span>
          <span ng-show="waypointForm.lng.$invalid">Invalid</span>
      </div>

      <div class="form-group image_field">
          <label for="id_image" class="control-label col-xs-2"> image:</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="id_image"
                   name="image"
                   type="url"
                   ng-model="waypoint.image"
                   ng-maxlength="160"
                   required
            />
            <span ng-show="waypointForm.image.$error.required">This is a required field</span>
            <span ng-show="waypointForm.image.$error.maxlength">Maximum length is 160</span>
            <span ng-show="waypointForm.image.$invalid">Must be a URL</span>
          </div>
      </div>

      <div class="form-group audio_file_field">
          <label for="id_audio_file" class="control-label col-xs-2"> audio file:</label>
          <div class="col-xs-10">
            <input class="form-control"
                   id="id_audio_file"
                   name="audio_file"
                   type="url"
                   ng-model="waypoint.audio_file"
                   ng-maxlength="160"
            />
            <span ng-show="waypointForm.audio_file.$error.required">This is a required field</span>
            <span ng-show="waypointForm.audio_file.$error.maxlength">Maximum length is 160</span>
            <span ng-show="waypointForm.audio_file.$invalid">Must be a URL</span>

            <div ng-show="waypointForm.audio_file.$valid">
              <a class="btn btn-primary col-xs-4" ng-click='route.audio_player()' role="button">MP3 Player</a>
              <div class='audio_player col-xs-8'>
                <div id="audio">
                  <audio src="" controls>
                </div>
              </div>
            </div>
          </div>
      </div>

  </div>

  <div class="col-xs-12 col-md-6 col-lg-4">
    <img ng-src="{{ waypoint.image }}" class="img-responsive" alt="Waypoint Image">
  </div>
</div>
