{% extends "base.html" %}

{% block content %}
  <div ng-controller="RouteController as route" ng-cloak>

    {% include 'route_summary.html' %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">

          <div ng-switch on="route.selected_form()">
            <div ng-switch-when="route">    {% include 'route_form.html' %}    </div>
            <div ng-switch-when="waypoint"> {% include 'waypoint_form.html' %} </div>
            {% include 'map.html' %}
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
